@page "/"

@inject HttpClient Http

<h3>Events</h3>

<div class="row">
    <div class="col-md-6">
        <h4>Upcoming Events</h4>
        @if (upcomingEvents == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            foreach (var evt in upcomingEvents)
            {
                <p>@evt.Name - @evt.Date</p>
            }
        }
    </div>

    <div class="col-md-6">
        <h4>Past Events</h4>
        @if (pastEvents == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            foreach (var evt in pastEvents)
            {
                <p>@evt.Name - @evt.Date</p>
            }
        }
    </div>
</div>

@code {
    private Event[] upcomingEvents;
    private Event[] pastEvents;

    protected override async Task OnInitializedAsync()
    {
        var events = await Http.GetFromJsonAsync<Event[]>("/api/Events");
        var currentDate = DateTime.Now;

        upcomingEvents = events.Where(e => e.Date >= currentDate).ToArray();
        pastEvents = events.Where(e => e.Date < currentDate).ToArray();
    }

    public class Event
    {
        public string Name { get; set; }
        public DateTime Date { get; set; }
    }
}
