@namespace RIK_Proovitöö.Components.Homepage
@{
    var imagePath = "/pilt.jpg";
    var introText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada justo a dui blandit, id venenatis risus aliquam. Cras aliquet eu ligula sed luctus. Donec non est vel dui dapibus tristique et sit amet tellus. Duis suscipit pretium felis, quis luctus lorem maximus non. Morbi ipsum nisi, egestas id molestie non, vulputate in velit. Nunc vestibulum commodo sodales. Ut in justo at arcu ultricies venenatis vel sit amet eros. Maecenas porta placerat libero. Morbi euismod dictum varius.";
}

<div class="container mt-4" >
    <div class="row" >
        <div class="col" style="background-color:#0d6efd;">
            <h5 class="text-center mt-3" style="color:white">@introText</h5>
        </div>
        <div class="col" >
            <img src="@imagePath" class="float-end" alt="Pilt">
        </div>
    </div>
</div>
