@using RIK_Proovitöö.Components.Layout


<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(MainLayout)">
            <p>Sorry, the page you're looking for isn't here.</p>
        </LayoutView>
    </NotFound>
</Router>
